ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:left;
}

h5 {
    text-align:left;
}

<<<<<<< HEAD
body {background-color: #ffedda;}
=======
>>>>>>> cfad8cbd6f1582668a2e807eee3d54b088e1c3b0
/*
.css-1kyxreq
{
    display:block;
}


img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
*/
/* Permet de centrer l'image en wide mode */

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
